@define-color module-bg #7b68ee;
@define-color module-fg #ffffff;
@define-color bar-bg #1a1a2e;
@define-color urgent #eb4d4b;
@define-color box gold;
@define-color menu-bg rgba(237, 235, 230,0.95);
@define-color menu-fg #1a1a2e;
@define-color menu-fg-hover #ffffff;

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 18px;
}

#tray .popup,
#tray menu {
    background-color: @menu-bg;
}

#tray menu menuitem:hover {
    background-color: @module-bg;
    color: @menu-fg-hover;
}

#tray menu menuitem * {
    background-color: transparent;
    color: @menu-fg;
    font-size: 12px;
    font-family: VT323, Roboto;
}

#tray>.passive {
    -gtk-icon-effect: dim;
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @urgent;
}

menu radio,
menu check {
    color: @box;
}

window#waybar {
    background-color: @bar-bg;
    color: @module-fg;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: @module-fg;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #3F3F3F;
    border: none;
}

#taskbar button.active {
    color: #ffffff;
    border-bottom: 2px solid gold;
    font-weight: bold;
}


button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px @module-fg;
}

.modules-left label,
.modules-center label,
.modules-right label,
#waybar widget>box {
    background-color: @module-bg;
    color: @module-fg;
    padding: 0 5px;
}

#workspaces button {
    padding: 0px;
    background-color: transparent;
    color: @module-fg;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px @module-fg;
}

#workspaces button.urgent {
    background-color: @urgent;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid @module-fg;
}

#clock {
    font-family: "Conthrax", sans-serif;
    color: yellow;
    font-size: 24px;
}

#clock.date {
    color: @module-fg;
    font-size: 16px
}

#cpu,
#memory,
#battery {
    font-family: "Conthrax", sans-serif;
    font-size: 14px;
}

#battery.charging,
#battery.plugged {
    color: #ffd700;
}

@keyframes blink {
    to {
        background-color: @module-fg;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    color: @urgent;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#disk {
    background-color: #964B00;
}

#backlight {
    background-color: #90b1b1;
}

#network {
    background-color: #2980b9;
}

#network.disconnected {
    background-color: @urgent;
}

#pulseaudio {
    color: @module-fg;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: @urgent;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: @urgent;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: @urgent;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#custom-micstat {
    font-family: "JetBrainsMono Nerd Font", sans-serif;
    font-size: 24px;
    padding: 0 10px;
    background-color: #66cc99;
}

#custom-micstat.muted {
    padding-left: 3px;
    padding-right: 17px;
    background-color: @urgent;
}

#custom-left,
#custom-right {
    font-family: "Agave Nerd Font Mono", "AgaveNerdFontMono", sans-serif;
    font-size: 37px;
    background-color: @bar-bg;
    color: @module-bg;
    padding: 0px;
}

#custom-separator {
    padding: 0px;
}

#custom-browsers,
#custom-tux {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    min-width: 24px;
    min-height: 24px;
    padding: 0 4px;
}

#custom-browsers.Brave{
    background-image: url("../../.local/share/icons/wmicons/512x512/apps/Brave.png");
}
#custom-browsers.Chrome{
    background-image: url("../../.local/share/icons/wmicons/512x512/apps/Chrome.png");
}
#custom-browsers.Firefox{
    background-image: url("../../.local/share/icons/wmicons/512x512/apps/Firefox.png");
}
#custom-browsers.Unknown{
    background-image: url("../../.local/share/icons/wmicons/512x512/apps/shrug.png");
}
