// Animation settings.
// The wiki explains how to configure individual animations:
// https://niri-wm.github.io/niri/Configuration:-Animations

animations {
    window-open {
        spring damping-ratio=0.7 stiffness=1000 epsilon=0.0001
    }

    window-close {
        spring damping-ratio=0.7 stiffness=1000 epsilon=0.0001
    }

    window-movement {
        spring stiffness=900 damping-ratio=0.7 epsilon=0.0001
    }

    horizontal-view-movement {
        spring stiffness=400 damping-ratio=1.0 epsilon=0.0009
    }
    workspace-switch {
        spring damping-ratio=0.7 stiffness=1000 epsilon=0.0001
    }
    overview-open-close {
        duration-ms 200
        curve "ease-out-quad"
    }
}
