// Animation settings.
// The wiki explains how to configure individual animations:
// https://niri-wm.github.io/niri/Configuration:-Animations

animations {
 window-open {
        duration-ms 250
        curve "ease-out-expo"
    }

    window-close {
        duration-ms 250
        curve "ease-out-quad"
    }

}
