// Settings that influence how windows are positioned and sized.
// Find more information on the wiki:
// https://niri-wm.github.io/niri/Configuration:-Layout
layout {
    gaps 2
    center-focused-column "never"
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }
    focus-ring {
        off
        width 2
        active-color "#7b68ee"
        inactive-color "#519948"
    }

    border {
        off
        width 4
        active-color "#ffc87f"
        inactive-color "#505050"
        urgent-color "#9b0000"
    }

    shadow {
        softness 10
        spread 3
        offset x=0 y=0
        color "#0009"
    }


    struts {
        left 0
        right 0
        top 0
        bottom 0
    }
    tab-indicator {
        width 5
        gap 2
        length total-proportion=0.98
        position "right"
        place-within-column
    }
}