// You can configure outputs by their name, which you can find
// by running `niri msg outputs` while inside a niri instance.
// The built-in laptop monitor is usually called "eDP-1".
// Find more information on the wiki:
// https://niri-wm.github.io/niri/Configuration:-Outputs
/-output "HDMI-A-1" {
    mode "3440x1440@56"
    // modeline 319.75 3440 3488 3520 3600 1440 1443 1453 1481 "+hsync" "-vsync"
    modeline 291.56 3440 3448 3480 3520 1440 1448 1456 1466 "+hsync" "-vsync"
}

output "HDMI-A-1" {
    mode "3440x1440@50"
}