// https://niri-wm.github.io/niri/Configuration:-Window-Rules
window-rule {
    geometry-corner-radius 10
    clip-to-geometry true
    draw-border-with-background false
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}
window-rule {
    match app-id=r#"org.telegram.desktop"# title="^Media viewer$"
    open-floating true
}

window-rule {
    match app-id=r#"code$"#
    open-on-workspace "code"
}

window-rule {
    match app-id=r#"evolution"#
    open-on-workspace "mail"
}

window-rule {
    match app-id="screenshot" title="R.Screenshot"
    open-floating true
}

window-rule {
    match app-id=r#"org.gnome.clocks|xdg-desktop-portal-gtk|evolution-alarm-notify|simpleNotepad|yad|com.github.hluk.copyq|blueman-manager|localsend_app|pavucontrol|org.gnome.Calendar"#
    open-floating true
}

window-rule {
    match is-floating=true
    border {
        off
    }
    focus-ring {
        off
    }
    shadow {
        on
    }

}

layer-rule {
    match namespace="waybar"
    background-effect {
        blur true
    }
}

layer-rule {
    match namespace="^launcher$"
    block-out-from "screencast"
    background-effect {
        blur true
        xray false
    }
    shadow {
        on
    }
    geometry-corner-radius 10

}

layer-rule {
    match namespace="^kitty-quick-access$"
    background-effect {
        blur true
        xray false
    }
}

layer-rule {
    match namespace="mako"
    background-effect {
        blur true
        xray false
    }
}

gestures {
    hot-corners {
        top-right
    }
    
    dnd-edge-workspace-switch {
        trigger-height 50
        delay-ms 100
        max-speed 3000
    }

    dnd-edge-view-scroll {
        trigger-width 30
        delay-ms 100
        max-speed 3000
    }

}
