include "./config.d/effects.kdl"
include "./config.d/input.kdl"
include "./config.d/output.kdl"
include "./config.d/keybinds.kdl"
include "./config.d/layout.kdl"
include "./config.d/startup.kdl"
include "./config.d/rules.kdl"

workspace "code"
workspace "mail"

environment {
    "QT_QPA_PLATFORM" "wayland"
    "GDK_BACKEND" "wayland"
}


hotkey-overlay {
    skip-at-startup
}

prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
